
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="met_section  ">


    <aside>

        <section class="met_aside">
            <h2>关于我们</h2>
            <div class="met_aside_list">
                <dl class="list-none navnow"><dt id='part2_19'><a href='../about/show.php?lang=cn&id=19' title='公司简介' class="zm"><span>公司简介</span></a></dt></dl><dl class="list-none navnow"><dt id='part2_25'><a href='../message/' title='在线留言' class="zm"><span>在线留言</span></a></dt></dl><dl class="list-none navnow"><dt id='part2_31'><a href='../feedback/' title='在线反馈' class="zm"><span>在线反馈</span></a></dt></dl><dl class="list-none navnow"><dt id='part2_98' class='on'><a href='../about/show.php?lang=cn&id=98' title='联系我们' class="zm"><span>联系我们</span></a></dt></dl>
                <div class="met_clear"></div>
            </div>
        </section>


    </aside>

    <article>
        <div class="met_article">

            <section class="met_article_head">
                <h1>联系我们</h1>
                <div class="met_position">
                    <a href="http://demo.metinfo.cn/" title="网站首页">网站首页</a> &gt; <a href=../about/show.php?lang =cn&id =19>关于我们</a> > <a href=../about/show.php?lang =cn&id =98>联系我们</a>
                </div>
            </section>

            <div class="met_clear"></div>

            <div class="met_editor met_module1">
                <div>
                    <div>
                        <strong><span style="font-size:14px;"><imgsrc ="http://localhost/metinfonew/upload/images/20131228_153538.jpg" style="width:245px;height:230px;float:left;margin:10px30px;"/ alt="图片关键词"></span></strong>
                    </div>
                    <div>
                        &nbsp;
                    </div>
                    <div>
                        <strong><span style="font-size:14px;">某某有限公司</span></strong>
                    </div>
                    <div>
                        地址：XX市XX区XXX号XXX栋XXX房
                    </div>
                    <div>
                        电话：0000-888888 23300000000
                    </div>
                    <div>
                        Q &nbsp;Q：000000 &nbsp;000000 &nbsp;000000
                    </div>
                    <div>
                        邮编：000000
                    </div>
                    <div>
                        邮箱：admin@admin.cn
                    </div>
                    <div>
                        网址：www.000000.cn
                    </div>
                </div>
                <div class="clear"></div>
            </div>

        </div>
    </article>
    <div class="met_clear"></div>
</section>