
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="met_section met_section_asidenone ">


    <article>
        <div class="met_article">

            <section class="met_article_head">
                <h1>客户案例</h1>
                <div class="met_position">
                    <a href="http://demo.metinfo.cn/" title="网站首页">网站首页</a> &gt; <a href=../case/>客户案例</a>
                </div>
            </section>

            <div class="met_clear"></div>

            <div class="active" id="imglist">



                <ul class="list_2">

                    <li>
                        <dl>
                            <dt>
                                <a href="showimg.php?lang=cn&id=5" title="示例案例六" target='_self'>
                                    <img src="../include/thumb.php?dir=../upload/201207/1342431883.jpg&x=190&y=150"
                                         width="190" height="150" />
                                </a>
                            </dt>
                            <dd>
                                <div class="met_listbox">
                                    <h2><a href="showimg.php?lang=cn&id=5" title="示例案例六" target='_self'>示例案例六</a></h2>
                                    <p>相关描述文字，相关描述文字，相关描述文字，相关描述文字，相关描述文字。</p>
                                </div>
                            </dd>
                        </dl>
                        <div class="met_clear"></div>
                    </li>

                    <li>
                        <dl>
                            <dt>
                                <a href="showimg.php?lang=cn&id=4" title="示例案例五" target='_self'>
                                    <img src="../include/thumb.php?dir=../upload/201207/1342428068.jpg&x=190&y=150"
                                         width="190" height="150" />
                                </a>
                            </dt>
                            <dd>
                                <div class="met_listbox">
                                    <h2><a href="showimg.php?lang=cn&id=4" title="示例案例五" target='_self'>示例案例五</a></h2>
                                    <p>相关描述文字，相关描述文字，相关描述文字，相关描述文字，相关描述文字。</p>
                                </div>
                            </dd>
                        </dl>
                        <div class="met_clear"></div>
                    </li>

                    <li>
                        <dl>
                            <dt>
                                <a href="showimg.php?lang=cn&id=28" title="示例案例八" target='_self'>
                                    <img src="../include/thumb.php?dir=../upload/201207/1342431433.jpg&x=190&y=150"
                                         width="190" height="150" />
                                </a>
                            </dt>
                            <dd>
                                <div class="met_listbox">
                                    <h2><a href="showimg.php?lang=cn&id=28" title="示例案例八" target='_self'>示例案例八</a></h2>
                                    <p></p>
                                </div>
                            </dd>
                        </dl>
                        <div class="met_clear"></div>
                    </li>

                    <li>
                        <dl>
                            <dt>
                                <a href="showimg.php?lang=cn&id=3" title="示例案例四" target='_self'>
                                    <img src="../include/thumb.php?dir=../upload/201207/1342431433.jpg&x=190&y=150"
                                         width="190" height="150" />
                                </a>
                            </dt>
                            <dd>
                                <div class="met_listbox">
                                    <h2><a href="showimg.php?lang=cn&id=3" title="示例案例四" target='_self'>示例案例四</a></h2>
                                    <p></p>
                                </div>
                            </dd>
                        </dl>
                        <div class="met_clear"></div>
                    </li>

                    <li>
                        <dl>
                            <dt>
                                <a href="showimg.php?lang=cn&id=27" title="示例案例七" target='_self'>
                                    <img src="../include/thumb.php?dir=../upload/201207/1342431492.jpg&x=190&y=150"
                                         width="190" height="150" />
                                </a>
                            </dt>
                            <dd>
                                <div class="met_listbox">
                                    <h2><a href="showimg.php?lang=cn&id=27" title="示例案例七" target='_self'>示例案例七</a></h2>
                                    <p></p>
                                </div>
                            </dd>
                        </dl>
                        <div class="met_clear"></div>
                    </li>

                    <li>
                        <dl>
                            <dt>
                                <a href="showimg.php?lang=cn&id=1" title="示例案例二" target='_self'>
                                    <img src="../include/thumb.php?dir=../upload/201207/1342431492.jpg&x=190&y=150"
                                         width="190" height="150" />
                                </a>
                            </dt>
                            <dd>
                                <div class="met_listbox">
                                    <h2><a href="showimg.php?lang=cn&id=1" title="示例案例二" target='_self'>示例案例二</a></h2>
                                    <p></p>
                                </div>
                            </dd>
                        </dl>
                        <div class="met_clear"></div>
                    </li>
                </ul>
                <div class="met_clear"></div>
                <div class='met_pager'>
                    <span class='PreSpan'>上一页</span><a href=../case/ class='Ahover'>1</a><a href=img.php?lang =cn&class1 =33&page =2>2</a><a href=img.php?lang =cn&class1 =33&page =2 class='NextA'>下一页</a>
                    <span class='PageText'>转至第</span>
                    <input type='text' id='metPageT' data-pageurl='img.php?lang=cn&class1=33&page=||2' value='1' />
                    <input type='button' id='metPageB' value='页' />
                </div>
            </div>
        </div>
    </article>
    <div class="met_clear"></div>
</section>

