
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="met_section  ">


    <aside>

        <section class="met_aside">
            <h2>招贤纳士</h2>
            <div class="met_aside_list">
                <dl class="list-none navnow"><dt id='part2_36' class='on'><a href='../job/' title='招贤纳士' class="zm"><span>招贤纳士</span></a></dt></dl><dl class="list-none navnow"><dt id='part2_10004'><a href='../job/cv.php?lang=cn&selectedjob=' title='在线应聘' class="zm"><span>在线应聘</span></a></dt></dl>
                <div class="met_clear"></div>
            </div>
        </section>


    </aside>

    <article>
        <div class="met_article">

            <section class="met_article_head">
                <h1>招贤纳士</h1>
                <div class="met_position">
                    <a href="http://demo.metinfo.cn/" title="网站首页">网站首页</a> &gt; <a href=../job/>招贤纳士</a>
                </div>
            </section>

            <div class="met_clear"></div>

            <div class="active" id="joblist">
                <dl class='list-none metlist'><dt><a href='showjob.php?lang=cn&id=1' title='PHP技术支持' target='_self'>PHP技术支持</a></dt><dd class='list top'><div class='mis'><span>发布日期：2012-07-16</span><span>工作地点：长沙市</span><span>招聘人数：10</span></div><div class='editor met_editor'><p><strong><span style="font-size:14px;">主要工作内容：</span></strong></p><div>1. 负责MetInfo企业网站管理系统技术支持；</div><div>2. 为客服人员提供技术支持；</div><div>&nbsp;</div><div><strong><span style="font-size:14px;">岗位要求：&nbsp;</span></strong></div><ol><li>php能看懂且对PHP感兴趣，理解面向对象基本概念，写过一些小程序；</li><li>懂MySql数据库备份、恢复等基本操作，熟悉PHP环境的搭建和配置；</li><li>javascript能看懂，了解jquery等js框架；</li><li>html/css会写，懂linux的优先；</li><li>擅长网上查找资料解决问题；</li><li>有PHP作品（留言板，blog等）的优先；</li><li>做事要有耐心，性格谦和，学习能力强，能吃苦耐劳，愿意同公司共同发展。</li></ol><div>如果你对我们的职位感兴趣，且符合我们的基本要求，请将个人简历投递至metinfo@qq.com，或者直接与我们取得联系！</div></span></div><div class='dtail'><span><a href='../job/cv.php?lang=cn&selectedjob=1' title='在线应聘' target='_self'>在线应聘</a></span><span><a href='showjob.php?lang=cn&id=1' title='查看详细' target='_self'>查看详细</a></span></div></dl><dl class='list-none metlist'><dt><a href='showjob.php?lang=cn&id=2' title='网络销售' target='_self'>网络销售</a></dt><dd class='list '><div class='mis'><span>发布日期：2012-07-16</span><span>工作地点：长沙市</span><span>招聘人数：10</span></div><div class='editor met_editor'><ol><li>大专以上学历，一年以上网络销售经验；</li><li>熟悉网络推广，熟悉网站建设基本流程；</li><li>有网站制作相关工作经验者优先；</li><li>学习能力强，能吃苦耐劳，愿意同公司共同发展；</li><li>本岗位招收兼职，投递简历时请说明自己的工作意愿；</li></ol><div>如果你对我们的职位感兴趣，且符合我们的基本要求，请将个人简历投递至metinfo@qq.com，或者直接与我们取得联系！</div></span></div><div class='dtail'><span><a href='../job/cv.php?lang=cn&selectedjob=2' title='在线应聘' target='_self'>在线应聘</a></span><span><a href='showjob.php?lang=cn&id=2' title='查看详细' target='_self'>查看详细</a></span></div></dl><dl class='list-none metlist'><dt><a href='showjob.php?lang=cn&id=3' title='网页UI设计师' target='_self'>网页UI设计师</a></dt><dd class='list '><div class='mis'><span>发布日期：2012-07-16</span><span>工作地点：长沙市</span><span>招聘人数：10</span></div><div class='editor met_editor'><p><span style="font-size: 14px; "><strong>主要工作内容：</strong></span>负责MetInfo界面和公司网站的界面设计等，重视用户体验。</p><div><strong><span style="font-size:14px;">岗位要求：</span></strong></div><ol><li>视觉设计、平面设计或美术相关专业，大专以上学历。</li><li>具有良好的创意设计能力及良好的色彩感，有较高的美术功底，较强的网页设计能力和整体布局感。</li><li>精通photoshop、Illustrator、Fireworks、Dreamweaver等图形设计工具中至少两种。</li><li>了解网页交互设计知识，对作品有不断追求完美的精神特质。</li><li>有网站UI设计同等职位工作经验、能提供过往作品者优先。</li></ol></span></div><div class='dtail'><span><a href='../job/cv.php?lang=cn&selectedjob=3' title='在线应聘' target='_self'>在线应聘</a></span><span><a href='showjob.php?lang=cn&id=3' title='查看详细' target='_self'>查看详细</a></span></div></dl>
                <div id="flip">
                    <div class='met_pager'>
                        <span class='PreSpan'>上一页</span><a href=../job/ class='Ahover'>1</a><a href=job.php?lang =cn&page =2>2</a><a href=job.php?lang =cn&page =2 class='NextA'>下一页</a>
                        <span class='PageText'>转至第</span>
                        <input type='text' id='metPageT' data-pageurl='job.php?lang=cn&page=||2' value='1' />
                        <input type='button' id='metPageB' value='页' />
                    </div>
                </div>
            </div>

        </div>
    </article>
    <div class="met_clear"></div>
</section>

