<footer class="tem_footer">
    <section class="tem_inner">
        <div class="tem_footer_nav">
            <a href='../news/news.php?lang=cn&class2=4' title='公司动态'>公司动态</a>
            <a href='../message/' title='在线留言'>在线留言</a>
            <a href='../feedback/' title='在线反馈'>在线反馈</a><a href='../link/' title='友情链接'>友情链接</a>
            <a href='../member/' title='会员中心'>会员中心</a>
            <a href='../search/' title='站内搜索'>站内搜索</a>
            <a href='../sitemap/' title='网站地图'>网站地图</a>
            <a href='http://47.94.130.161/admin/' title='网站管理'>网站管理</a>
        </div>
        <div class="tem_footer_text">
            <p>我的网站 版权所有 2008-2014 湘ICP备8888888 </p>
        </div>
    </section>
</footer>
