
<div class="tem_banner">

    <ul class="slides" style="height:600px;" >

        <li style="background:url(upload/201501/1422257708.jpg) no-repeat center center; height:600px;"></li>

        <li style="background:url(upload/201501/1422258064.jpg) no-repeat center center; height:600px;"></li>

        <li style="background:url(upload/201501/1422258242.jpg) no-repeat center center; height:600px;"></li>

    </ul>

</div>