
    <div class="tem_inner tem_head">
        <h1>
            <a href="http://demo.metinfo.cn/" title="网站名称">
                <img src="~/Content/Image/1342516529.png" alt="网站名称" style="margin:20px 0px 0px 0px;" title="网站名称">
            </a>
        </h1>
        <nav>
            <ul>
                <li><a href="http://demo.metinfo.cn/" title="网站首页" class="navdown">网站首页</a></li>
                <li>
                    <a href="http://demo.metinfo.cn/about/show.php?lang=cn&amp;id=19" title="关于我们">关于我们</a>
                    <dl data-postinok="1" style="display: none; width: auto; white-space: nowrap; min-width: 100px;">
                        <dd style="width: auto; min-width: 100px;">
                            <a href="http://demo.metinfo.cn/about/show.php?lang=cn&amp;id=19" title="公司简介">公司简介</a>
                            <a href="http://demo.metinfo.cn/message/" title="在线留言">在线留言</a>
                            <a href="http://demo.metinfo.cn/feedback/" title="在线反馈">在线反馈</a>
                            <a href="http://demo.metinfo.cn/about/show.php?lang=cn&amp;id=98" title="联系我们">联系我们</a>
                            <div class="met_clear"></div>
                            <i class="fa fa-caret-up" style="left: 37px;"></i>
                        </dd>
                    </dl>
                </li>
                <li>
                    <a href="http://demo.metinfo.cn/news/" title="新闻资讯">新闻资讯</a>
                    <dl data-postinok="1" style="display: none; width: auto; white-space: nowrap; min-width: 100px;">
                        <dd style="width: auto; min-width: 100px;">
                            <a href="http://demo.metinfo.cn/news/news.php?lang=cn&amp;class2=4" title="公司动态">公司动态</a>
                            <a href="http://demo.metinfo.cn/news/news.php?lang=cn&amp;class2=5" title="业界资讯">业界资讯</a>
                            <div class="met_clear"></div>
                            <i class="fa fa-caret-up" style="left: 37px;"></i>
                        </dd>
                    </dl>
                </li>
                <li>
                    <a href="http://demo.metinfo.cn/product/" title="产品展示">产品展示</a>
                    <dl data-postinok="1" style="display: none; width: auto; white-space: nowrap; min-width: 100px;">
                        <dd style="width: auto; min-width: 100px;">
                            <a href="http://demo.metinfo.cn/product/product.php?lang=cn&amp;class2=6" title="饰品珠宝">饰品珠宝</a>
                            <a href="http://demo.metinfo.cn/product/product.php?lang=cn&amp;class2=7" title="数码家电">数码家电</a>
                            <a href="http://demo.metinfo.cn/product/product.php?lang=cn&amp;class2=8" title="家具建材">家具建材</a>
                            <a href="http://demo.metinfo.cn/product/product.php?lang=cn&amp;class2=9" title="交通工具">交通工具</a>
                            <a href="http://demo.metinfo.cn/product/product.php?lang=cn&amp;class2=12" title="图书音像">图书音像</a>
                            <div class="met_clear"></div>
                            <i class="fa fa-caret-up" style="left: 37px;"></i>
                        </dd>
                    </dl>
                </li>
                <li>
                    <a href="http://demo.metinfo.cn/download/" title="下载中心">下载中心</a>
                    <dl data-postinok="1" style="display: none; width: auto; white-space: nowrap; min-width: 100px;">
                        <dd style="width: auto; min-width: 100px;">
                            <a href="http://demo.metinfo.cn/download/download.php?lang=cn&amp;class2=34" title="软件下载">软件下载</a>
                            <a href="http://demo.metinfo.cn/download/download.php?lang=cn&amp;class2=35" title="文件下载">文件下载</a>
                            <div class="met_clear"></div>
                            <i class="fa fa-caret-up" style="left: 37px;"></i>
                        </dd>
                    </dl>
                </li>
                <li>
                    <a href="http://demo.metinfo.cn/case/" title="客户案例">客户案例</a>
                </li>
                <li>
                    <a href="http://demo.metinfo.cn/job/" title="招贤纳士">招贤纳士</a>
                </li>
            </ul>
        </nav>
    </div>
