
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<!-- Mirrored from www.zi-han.net/theme/hplus/form_basic.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 20 Jan 2016 14:19:15 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSite-基本表单</title>
    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">
    <link href="favicon.ico" rel="shortcut icon">
    <link href="~/Content/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="~/Content/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="~/Content/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/Content/css/animate.min.css" rel="stylesheet">
    <link href="~/Content/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <link href="~/Content/plugins/summernote/summernote.css" rel="stylesheet" />
    @*<link href="~/Content/css/plugins/summernote/summernote.css" rel="stylesheet">*@
    <link href="~/Content/css/plugins/summernote/summernote-bs3.css" rel="stylesheet">

</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <form method="post" class="form-horizontal" enctype="multipart/form-data">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h3>网站基本信息设置</h3>
                        </div>
                        <div class="ibox-content">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">网站名称</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="Name">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">网站URL</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="WebUrl">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">网站Logo</label>
                                <div class="col-sm-4">
                                    <input type="file" name="WebLogo" />
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">网站Icon</label>
                                <div class="col-sm-4">
                                    <input type="file" name="WebIcon" />
                                </div>
                            </div>
                            <div>

                                @*

                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">带说明信息</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control"> <span class="help-block m-b-none">帮助文本，可能会超过一行，以块级元素显示</span>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">密码</label>

                                        <div class="col-sm-10">
                                            <input type="password" class="form-control" name="password">
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">提示</label>

                                        <div class="col-sm-10">
                                            <input type="text" placeholder="提示信息" class="form-control">
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">禁用</label>

                                        <div class="col-sm-10">
                                            <input type="text" disabled="" placeholder="已被禁用" class="form-control">
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">静态控制</label>

                                        <div class="col-sm-10">
                                            <p class="form-control-static">i@zi-han.net</p>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">
                                            复选框&amp;单选框
                                            <br />
                                            <small class="text-navy">普通Bootstrap元素</small>
                                        </label>

                                        <div class="col-sm-10">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="">选项1
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios">选项1
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" value="option2" id="optionsRadios2" name="optionsRadios">选项2
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">内联复选框</label>

                                        <div class="col-sm-10">
                                            <label class="checkbox-inline">
                                                <input type="checkbox" value="option1" id="inlineCheckbox1">a
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" value="option2" id="inlineCheckbox2">b
                                            </label>
                                            <label class="checkbox-inline">
                                                <input type="checkbox" value="option3" id="inlineCheckbox3">c
                                            </label>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">
                                            复选框&amp;单选框
                                            <br /><small class="text-navy">自定义样式</small>
                                        </label>

                                        <div class="col-sm-10">
                                            <div class="checkbox i-checks">
                                                <label>
                                                    <input type="checkbox" value=""> <i></i> 选项1
                                                </label>
                                            </div>
                                            <div class="checkbox i-checks">
                                                <label>
                                                    <input type="checkbox" value="" checked=""> <i></i> 选项2（选中）
                                                </label>
                                            </div>
                                            <div class="checkbox i-checks">
                                                <label>
                                                    <input type="checkbox" value="" disabled="" checked=""> <i></i> 选项3（选中并禁用）
                                                </label>
                                            </div>
                                            <div class="checkbox i-checks">
                                                <label>
                                                    <input type="checkbox" value="" disabled=""> <i></i> 选项4（禁用）
                                                </label>
                                            </div>
                                            <div class="radio i-checks">
                                                <label>
                                                    <input type="radio" value="option1" name="a"> <i></i> 选项1
                                                </label>
                                            </div>
                                            <div class="radio i-checks">
                                                <label>
                                                    <input type="radio" checked="" value="option2" name="a"> <i></i> 选项2（选中）
                                                </label>
                                            </div>
                                            <div class="radio i-checks">
                                                <label>
                                                    <input type="radio" disabled="" checked="" value="option2"> <i></i> 选项3（选中并禁用）
                                                </label>
                                            </div>
                                            <div class="radio i-checks">
                                                <label>
                                                    <input type="radio" disabled="" name="a"> <i></i> 选项4（禁用）
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">内联复选框</label>

                                        <div class="col-sm-10">
                                            <label class="checkbox-inline i-checks">
                                                <input type="checkbox" value="option1">a
                                            </label>
                                            <label class="checkbox-inline i-checks">
                                                <input type="checkbox" value="option2">b
                                            </label>
                                            <label class="checkbox-inline i-checks">
                                                <input type="checkbox" value="option3">c
                                            </label>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Select</label>

                                        <div class="col-sm-10">
                                            <select class="form-control m-b" name="account">
                                                <option>选项 1</option>
                                                <option>选项 2</option>
                                                <option>选项 3</option>
                                                <option>选项 4</option>
                                            </select>

                                            <div class="col-sm-4 m-l-n">
                                                <select class="form-control" multiple="">
                                                    <option>选项 1</option>
                                                    <option>选项 2</option>
                                                    <option>选项 3</option>
                                                    <option>选项 4</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group has-success">
                                        <label class="col-sm-2 control-label">验证通过</label>

                                        <div class="col-sm-10">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group has-warning">
                                        <label class="col-sm-2 control-label">未填写</label>

                                        <div class="col-sm-10">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group has-error">
                                        <label class="col-sm-2 control-label">验证未通过</label>

                                        <div class="col-sm-10">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">自定义尺寸</label>

                                        <div class="col-sm-10">
                                            <input type="text" placeholder=".input-lg" class="form-control input-lg m-b">
                                            <input type="text" placeholder="Default input" class="form-control m-b">
                                            <input type="text" placeholder=".input-sm" class="form-control input-sm">
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">列尺寸</label>

                                        <div class="col-sm-10">
                                            <div class="row">
                                                <div class="col-md-2">
                                                    <input type="text" placeholder=".col-md-2" class="form-control">
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="text" placeholder=".col-md-3" class="form-control">
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text" placeholder=".col-md-4" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">文本框组</label>

                                        <div class="col-sm-10">
                                            <div class="input-group m-b">
                                                <span class="input-group-addon"></span>
                                                <input type="text" placeholder="用户名" class="form-control">
                                            </div>
                                            <div class="input-group m-b">
                                                <input type="text" class="form-control"> <span class="input-group-addon">.00</span>
                                            </div>
                                            <div class="input-group m-b">
                                                <span class="input-group-addon">&yen;</span>
                                                <input type="text" class="form-control"> <span class="input-group-addon">.00</span>
                                            </div>
                                            <div class="input-group m-b">
                                                <span class="input-group-addon"> <input type="checkbox"> </span>
                                                <input type="text" class="form-control">
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-addon"> <input type="radio"> </span>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">按钮插件</label>

                                        <div class="col-sm-10">
                                            <div class="input-group m-b">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-primary">搜</button>
                                                </span>
                                                <input type="text" class="form-control">
                                            </div>
                                            <div class="input-group">
                                                <input type="text" class="form-control"> <span class="input-group-btn">
                                                    <button type="button" class="btn btn-primary">
                                                        搜索
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">带下拉框</label>

                                        <div class="col-sm-10">
                                            <div class="input-group m-b">
                                                <div class="input-group-btn">
                                                    <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">
                                                        操作 <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a href="form_basic.html#">选项1</a>
                                                        </li>
                                                        <li>
                                                            <a href="form_basic.html#">选项2</a>
                                                        </li>
                                                        <li>
                                                            <a href="form_basic.html#">选项3</a>
                                                        </li>
                                                        <li class="divider"></li>
                                                        <li>
                                                            <a href="form_basic.html#">选项4</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <input type="text" class="form-control">
                                            </div>
                                            <div class="input-group">
                                                <input type="text" class="form-control">

                                                <div class="input-group-btn">
                                                    <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">
                                                        操作 <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu pull-right">
                                                        <li>
                                                            <a href="form_basic.html#">选项1</a>
                                                        </li>
                                                        <li>
                                                            <a href="form_basic.html#">选项2</a>
                                                        </li>
                                                        <li>
                                                            <a href="form_basic.html#">选项3</a>
                                                        </li>
                                                        <li class="divider"></li>
                                                        <li>
                                                            <a href="form_basic.html#">选项4</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">分段</label>

                                        <div class="col-sm-10">
                                            <div class="input-group m-b">
                                                <div class="input-group-btn">
                                                    <button tabindex="-1" class="btn btn-white" type="button">操作</button>
                                                    <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li>
                                                            <a href="form_basic.html#">选项1</a>
                                                        </li>
                                                        <li>
                                                            <a href="form_basic.html#">选项2</a>
                                                        </li>
                                                        <li>
                                                            <a href="form_basic.html#">选项3</a>
                                                        </li>
                                                        <li class="divider"></li>
                                                        <li>
                                                            <a href="form_basic.html#">选项4</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <input type="text" class="form-control">
                                            </div>
                                            <div class="input-group">
                                                <input type="text" class="form-control">

                                                <div class="input-group-btn">
                                                    <button tabindex="-1" class="btn btn-white" type="button">操作</button>
                                                    <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu pull-right">
                                                        分段
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        <div class="col-sm-4 col-sm-offset-2">
                                            <button class="btn btn-primary" type="submit">保存内容</button>
                                            <button class="btn btn-white" type="submit">取消</button>
                                        </div>
                                    </div>
                                *@
                            </div>
                        </div>
                        <div class="ibox-title">
                            <h3>SEO优化</h3>
                        </div>
                        <div class="ibox-content">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Title</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="Title">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">关键词</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="Keyword">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">描述</label>
                                <div class="col-sm-4">
                                    <textarea class="form-control" rows="3" name="Description"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="ibox-title">
                            <h3>底部信息设置（显示在网站前台底部）</h3>
                        </div>
                        <div class="ibox-content">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">版权信息</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="Copyright">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">地址</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="Place">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">邮箱</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="ZipCode">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">联系电话</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="Phone">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">邮编</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="Email">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">其他</label>
                                <div class="col-sm-10">
                                    <div id="OtherSummernote"></div>
                                </div>
                                <input type="hidden" id="summernoteContent" />
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-2">
                                    <button id="btnSave" class="btn btn-sm btn-primary" type="button">保存内容</button>
                                    <button class="btn btn-sm btn-white" type="button">取消</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script src="~/Content/js/jquery.min.js?v=2.1.4"></script>
    <script src="~/Content/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="~/Content/js/content.min.js?v=1.0.0"></script>
    <script src="~/Content/js/plugins/iCheck/icheck.min.js"></script>
    <script src="~/Content/plugins/summernote/summernote.min.js"></script>
    <script src="~/Content/plugins/summernote/lang/summernote-zh-CN.js"></script>

    @*<script src="~/Content/js/plugins/summernote/summernote.min.js"></script>*@
    @*<script src="~/Content/js/plugins/summernote/summernote-zh-CN.js"></script>*@
    <script>

        $(document).ready(
            function () {
                //  $("#OtherSummernote").summernote({
                //      lang: "zh-CN", height: "150px",
                //
                //  })

                $('#OtherSummernote').summernote({
                    lang: "zh-CN", height: "150px",
                    toolbar: [
                        // [groupName, [list of button]]
                        ['style', ['bold', 'italic', 'underline', 'clear']],
                        ['font', ['strikethrough', 'superscript', 'subscript']],
                        ['fontsize', ['fontsize']],
                        ['color', ['color']],
                        ['para', ['ul', 'ol', 'paragraph']],
                        ['height', ['height']]
                    ]
                });

                $(".i-checks").iCheck(
                    {
                        checkboxClass: "icheckbox_square-green",
                        radioClass: "iradio_square-green",
                    });
                $("#btnSave").bind("click", function () {
                    var form = $("form");
                    var actionUrl = "/WebSite/AddOrUpdate";
                    form.attr("action", actionUrl);
                    var markupStr = $('#OtherSummernote').summernote('code');
                    $("#summernoteContent").val(markupStr);
                    form.submit();
                })

            });
    </script>
</body>


</html>
