
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>H+ 后台主题UI框架 - Bootstrap Table</title>
    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="~/Content/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="~/Content/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="~/Content/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="~/Content/css/animate.min.css" rel="stylesheet">
    <link href="~/Content/css/style.min862f.css?v=4.1.0" rel="stylesheet">

</head>
<body>
    <button id="add">新增</button>
    <div>
        <table id="table"></table>
    </div>
    <script src="~/Content/js/jquery.min.js?v=2.1.4"></script>
    <script src="~/Content/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="~/Content/js/content.min.js?v=1.0.0"></script>
    <script src="~/Content/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
    <script src="~/Content/js/plugins/bootstrap-table/bootstrap-table-mobile.min.js"></script>
    <script src="~/Content/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="~/Content/js/demo/bootstrap-table-demo.min.js"></script>
    <script>
        $(function () {
            $('#table').bootstrapTable({
                method: "post",
                url: 'WebColumn/GetWebColumn',
                idField:"Id",
                columns: [{
                    field: 'Id',
                    title: 'id'
                }, {
                    field: 'Sort',
                    title: '排序'
                }, {
                    field: 'Name',
                    title: '栏目名称'
                },
                {
                    field: 'Position',
                    title: '导航栏显示'
                },
                {
                    field: 'WebModuleName',
                    title: '所属模块'

                },
                {
                    field: 'WebModuleCatalog',
                    title: '目录名称'
                },
                {
                    field: 'Id',
                    title: '操作'
                },
                 {
                     field: 'Parent',
                     title: '父ID'
                 },
                ],
                onLoadSuccess: function (data) {
                    $.each(data, function (index, item) {
                        $.each(data, function (index2, item2) {
                            if (item.Id == item.Parent) {
                                $("#table").bootstrapTable('hideRow', { index: item2.Id });
                                var row = $("#table").bootstrapTable('getRowByUniqueId', item.Id);
                                console.log(row);
                            }
                        })
                    })
                }
            });

            $("#add").bind("click", function () {
                var row = {};
                row.Id = "12";
                $("#table").bootstrapTable('insertRow', { index: 1, row: row });

            })

        })
    </script>
</body>
</html>
