
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="met_section  ">


    <aside>

        <section class="met_aside">
            <h2>产品展示</h2>
            <div class="met_aside_list">
                <dl class="list-none navnow"><dt id='part2_6'><a href='../product/product.php?lang=cn&class2=6' title='饰品珠宝'><span>饰品珠宝</span></a></dt><dd class="sub"><h4 id='part3_14'><a href='../product/product.php?lang=cn&class3=14' title='流行饰品' class='nav'><span>流行饰品</span></a></h4><h4 id='part3_15'><a href='../product/product.php?lang=cn&class3=15' title='太阳镜' class='nav'><span>太阳镜</span></a></h4><h4 id='part3_16'><a href='../product/product.php?lang=cn&class3=16' title='品牌手表' class='nav'><span>品牌手表</span></a></h4><h4 id='part3_17'><a href='../product/product.php?lang=cn&class3=17' title='太阳镜' class='nav'><span>太阳镜</span></a></h4><h4 id='part3_18'><a href='../product/product.php?lang=cn&class3=18' title='Zippo/烟具' class='nav'><span>Zippo/烟具</span></a></h4></dd></dl><dl class="list-none navnow"><dt id='part2_7'><a href='../product/product.php?lang=cn&class2=7' title='数码家电' class="zm"><span>数码家电</span></a></dt></dl><dl class="list-none navnow"><dt id='part2_8'><a href='../product/product.php?lang=cn&class2=8' title='家具建材' class="zm"><span>家具建材</span></a></dt></dl><dl class="list-none navnow"><dt id='part2_9'><a href='../product/product.php?lang=cn&class2=9' title='交通工具' class="zm"><span>交通工具</span></a></dt></dl><dl class="list-none navnow"><dt id='part2_12'><a href='../product/product.php?lang=cn&class2=12' title='图书音像' class="zm"><span>图书音像</span></a></dt></dl>
                <div class="met_clear"></div>
            </div>
        </section>


    </aside>

    <article>
        <div class="met_article">

            <section class="met_article_head">
                <h1>产品展示</h1>
                <div class="met_position">
                    <a href="http://demo.metinfo.cn/" title="网站首页">网站首页</a> &gt; <a href=../product />产品展示</a>
                </div>
            </section>

            <div class="met_clear"></div>

            <div class="met_module3_list">

                <ul class="list_1">

                    <li>
                        <a href="showproduct.php?lang=cn&id=14" title="示例产品六" target='_self'>
                            <img src="../include/thumb.php?dir=../upload/201207/1342404422.jpg&x=213&y=160"
                                 width="213" height="160" />
                            <h2>示例产品六</h2>
                        </a>
                    </li>

                    <li>
                        <a href="showproduct.php?lang=cn&id=13" title="示例产品八" target='_self'>
                            <img src="../include/thumb.php?dir=../upload/201207/1342405015.jpg&x=213&y=160"
                                 width="213" height="160" />
                            <h2>示例产品八</h2>
                        </a>
                    </li>

                    <li>
                        <a href="showproduct.php?lang=cn&id=3" title="示例产品七" target='_self'>
                            <img src="../include/thumb.php?dir=../upload/201207/1342404422.jpg&x=213&y=160"
                                 width="213" height="160" />
                            <h2>示例产品七</h2>
                        </a>
                    </li>
                    <li>
                        <a href="showproduct.php?lang=cn&id=2" title="示例产品三" target='_self'>
                            <img src="../include/thumb.php?dir=../upload/201207/1342404144.jpg&x=213&y=160"
                                 width="213" height="160" />
                            <h2>示例产品三</h2>
                        </a>
                    </li>
                    <li>
                        <a href="showproduct.php?lang=cn&id=1" title="示例产品五" target='_self'>
                            <img src="../include/thumb.php?dir=../upload/201207/1342360923.jpg&x=213&y=160"
                                 width="213" height="160" />
                            <h2>示例产品五</h2>
                        </a>
                    </li>
                    <li>
                        <a href="showproduct.php?lang=cn&id=4" title="示例产品四" target='_self'>
                            <img src="../include/thumb.php?dir=../upload/201207/1342405015.jpg&x=213&y=160"
                                 width="213" height="160" />
                            <h2>示例产品四</h2>
                        </a>
                    </li>
                </ul>
                <div class="met_clear"></div>
                <div class='met_pager'>
                    <span class='PreSpan'>上一页</span><a href=../product/ class='Ahover'>1</a><a href=product.php?lang =cn&class1 =3&page =2>2</a><a href=product.php?lang =cn&class1 =3&page =2 class='NextA'>下一页</a>
                    <span class='PageText'>转至第</span>
                    <input type='text' id='metPageT' data-pageurl='product.php?lang=cn&class1=3&page=||2' value='1' />
                    <input type='button' id='metPageB' value='页' />
                </div>
            </div>
        </div>
    </article>
    <div class="met_clear"></div>
</section>

