
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="met_section  ">


    <aside>

        <section class="met_aside">
            <h2>下载中心</h2>
            <div class="met_aside_list">
                <dl class="list-none navnow"><dt id='part2_34' class='on'><a href='../download/download.php?lang=cn&class2=34' title='软件下载' class="zm"><span>软件下载</span></a></dt></dl><dl class="list-none navnow"><dt id='part2_35'><a href='../download/download.php?lang=cn&class2=35' title='文件下载' class="zm"><span>文件下载</span></a></dt></dl>
                <div class="met_clear"></div>
            </div>
        </section>


    </aside>

    <article>
        <div class="met_article">

            <section class="met_article_head">
                <h1>软件下载</h1>
                <div class="met_position">
                    <a href="http://demo.metinfo.cn/" title="网站首页">网站首页</a> &gt; <a href=../download/>下载中心</a> > <a href=../download/download.php?lang =cn&class2 =34>软件下载</a>
                </div>
            </section>

            <div class="met_clear"></div>

            <div class="active" id="downloadlist">
                <dl class='list-none metlist top'><dt><a href='showdownload.php?lang=cn&id=1' title='MetInfo企业网站管理系统V5.3' target='_self'>MetInfo企业网站管理系统V5.3</a></dt><dd><div><a href='showdownload.php?lang=cn&id=1' target='_self' title='查看详细'>查看详细</a> - <a href='' class='down' target='_self' title='点击下载'>点击下载</a></div><span><b>文件大小</b>：4.94 Mb</span><span><b>点击次数</b>：240</span><span><b>更新时间</b>：2013-12-27</span></dd></dl><dl class='list-none metlist '><dt><a href='showdownload.php?lang=cn&id=4' title='下载示例三' target='_self'>下载示例三</a></dt><dd><div><a href='showdownload.php?lang=cn&id=4' target='_self' title='查看详细'>查看详细</a> - <a href='' class='down' target='_self' title='点击下载'>点击下载</a></div><span><b>文件大小</b>： Kb</span><span><b>点击次数</b>：14</span><span><b>更新时间</b>：2013-12-27</span></dd></dl><dl class='list-none metlist '><dt><a href='showdownload.php?lang=cn&id=6' title='下载示例二' target='_self'>下载示例二</a></dt><dd><div><a href='showdownload.php?lang=cn&id=6' target='_self' title='查看详细'>查看详细</a> - <a href='' class='down' target='_self' title='点击下载'>点击下载</a></div><span><b>文件大小</b>：36.27 Kb</span><span><b>点击次数</b>：17</span><span><b>更新时间</b>：2013-12-27</span></dd></dl>

                <div class='met_pager'>
                    <span class='PreSpan'>上一页</span><a href=download.php?lang =cn&class1 =32&class2 =34 class='Ahover'>1</a><span class='NextSpan'>下一页</span>
                    <span class='PageText'>转至第</span>
                    <input type='text' id='metPageT' data-pageurl='download.php?lang=cn&class1=32&class2=34&page=||1' value='1' />
                    <input type='button' id='metPageB' value='页' />
                </div>

            </div>

        </div>
    </article>
    <div class="met_clear"></div>
</section>

